<%-include("partials/_header");%>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Requst A call  for You</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-16 ">
                  <form id="request" class="main_form ">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="password" type="password" name="Subject">                          
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Log In</button>
                        </div>
                     </div>
                  </form>
                  <div class="mt-2">
                    <button class="btn-lg btn-lg"> <a href="/signUp">Sign Up</a></button>
                 </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <%-include("partials/_footer");%>